<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<header>
	<h1>
		Contactos
	</h1>
	<img
		 alt="contactos" src="../static/images/contactos.jpg" style="width: 700px " title="Contactos"
	>
</header>
<nav>
	<ul>
		<li>
			<a href="index.html">
			Inicio
			</a>
		</li>
		<li>
			<a href="agenda.html">
			Agenda
			</a>
		</li>
		<li>
			<a href="beneficios.html">
			Beneficios y Becas
			</a>
		</li>
		<li>
			<a href="contacto.html">
			Contáctanos
			</a>
		</li>
	</ul>
</nav>
<form>
	<label for="nombre">Nombre y Apellido: </label>
	<input type="text" placeholder="Escribe tu nombre" name="nombre" id="nombre">
	<br></br>
	<label for="provincia">Provincia: </label>
	<select name="provincia" id="provincia">
		<option value="Jujuy">Jujuy</option>
		<option value="Salta">Salta</option>
		<option value="Tucumán">Tucumán</option>
		<option value="Córdoba">Córdoba</option>
		<option value="Santiago del Estero">Santiago del Estero</option>
		<option value="Santa Fe">Santa Fe</option>
		<option value="La Rioja">La Rioja</option>
		<option value="Chaco">Chaco</option>
		<option value="Entre Rios">Entre Rios</option>
		<option value="Corrientes">Corrientes</option>
		<option value="Misiones">Misiones</option>
		<option value="Formosa">Formosa</option>
		<option value="Catamarca">Catamarca</option>
		<option value="San Juan">San Juan</option>
		<option value="Mendoza">Mendoza</option>
		<option value="San Luis">San Luis</option>
		<option value="Neuquen">Neuquen</option>
		<option value="Rio Negro">Rio Negro</option>
		<option value="Chubut">Chubut</option>
		<option value="Santa Cruz">Santa Cruz</option>
		<option value="Tierra del Fuego">Tierra del Fuego</option>
		<option value="Buenos Aires">Buenos Aires</option>
	</select>	
	<br></br>
	<label for="telefono">Telefono</label>	
	<input type="number" placeholder="3885084220" name="telefono" id="telefono"></input>
	<br></br>
	<label for="mail">Correo electrónico: </label>	
	<input type="email" placeholder="alguien@mail.com" name="mail" id="mail"></input>
	<br></br>
	<label for="telefono">Telefono</label>	
	<input type="number" placeholder="3885084220" name="telefono" id="telefono"></input>
	<br></br>
	<legend> Estado Civil</legend>
        <label>
          <input type="radio" name="Ec" value="Casado"> Casado
        </label>
        <label>
            <input type="radio" name="Ec" value="Soltero"> Soltero
        </label>
        <label>
            <input type="radio" name="Ec" value="Otro"> Otro
        </label>
     <br></br>
     <label for="msj">Mesaje:</label>
     <input type="text" id="msj" size=500></input>
</form>
<footer>
	2022. Portal de Capacitación – Av. Italo Palanca – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.
</footer>
</body>
</html>