<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<header>
	<h1 style="text-align: center">
		Idiomas
	</h1>
	<img
		 alt="idiomas" src="../static/images/idiomas.jpg" style="width: 700px " title="Idiomas"
	>
</header>
<nav>
	<ul>
		<li>
			<a href="index.html">
			Inicio
			</a>
		</li>
		<li>
			<a href="agenda.html">
			Agenda
			</a>
		</li>
		<li>
			<a href="beneficios.html">
			Beneficios y Becas
			</a>
		</li>
		<li>
			<a href="contacto.html">
			Contáctanos
			</a>
		</li>
	</ul>
</nav>
<section>
	<p>
		A continuación se le brindará información acerca del curso
	</p>
	<table border="1">
		<caption>
			Informacion del curso.
		</caption>
		<tr>
			<th>Curso</th>
			<th>Fecha de inicio</th>
			<th>Horario</th>
			<th>Fecha de fin</th>
			<th>Modalidad</th>
			<th>Docente</th>
			<th>Duracion hs en semanas</th>
		</tr>
		<tr>
			<td>Idiomas</td>
			<td>02/05/2022</td>
			<td>19:00</td>
			<td>10/12/2022</td>
			<td>Presencial</td>
			<td>Ms. Tara Smith</td>
			<td>6 hs</td>
		</tr>
	</table>
</section>
</body>
</html>